{% extends 'base.html.twig' %}


{% block content%}
<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container" data-aos="fade-up">
        <h1>Welcome to this snowboard website</h1>
        <h2>This site allows you to learn and share snowboard figures</h2>
    </div>
</section><!-- End Hero -->

<main id="main">
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
        <div class="container">
            {% for notice in app.flashes('notice') %}
            <div class="alert alert-success" role="alert">
                {{ notice }}
            </div>
            {% endfor %}
            {% for flash in app.flashes('success') %}
            <div class="alert alert-success">{{ flash }}</div>
            {% endfor %}
            <div class="section-title" data-aos="fade-in" data-aos-delay="100">
                <h2>List of figures</h2>
            </div>

            <div class="row portfolio-container" data-aos="fade-up">
                {% for trick in tricks %}
                {% for media in trick.medias %}
                <a href="{{ path('app_trick_show', {'id': trick.id}) }}">

                    <div class="col-lg-4 col-md-6 portfolio-item">
                        <div class="portfolio-wrap">
                            <div class="text-center">
                                <h5>
                                    <div>
                                        {{ trick.name }}
                                        {% if app.user %}
                                        <a href="{{ path('app_trick_edit', {'id': trick.id}) }}"><i
                                                class="fas fa-pencil-alt"></i></a>
                                        <a href="{{ path('app_trick_delete', {'id': trick.id}) }}"
                                            onclick="return confirm(`Êtes-vous sûr de vouloir supprimer le trick : {{trick.name}} ?`)"><i
                                                class="fas fa-trash-alt"></i></a>
                                    </div>
                                    {% endif %}
                                </h5>
                            </div>

                        </div>
                    </div>
                </a>

                {% endfor %}
                {% endfor %}

                {#
                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap card-trick">
                        <img src="/assets/img/portfolio/snow1.jpg" class="img-fluid" alt="">
                        <a href="#" class="btn btn-outline-info btn-sm">Learn More
                        </a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-wrap card-trick">
                        <img src="assets/img/portfolio/snow2.jpg" class="img-fluid" alt="">
                        <a href="#" class="btn btn-outline-info btn-sm">Learn More
                        </a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap card-trick">
                        <img src="assets/img/portfolio/snow3.jpg" class="img-fluid" alt="">
                        <a href="#" class="btn btn-outline-info btn-sm">Learn More
                        </a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-wrap card-trick">
                        <img src="assets/img/portfolio/snow4.jpg" class="img-fluid" alt="">
                        <a href="#" class="btn btn-outline-info btn-sm">Learn More
                        </a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-wrap card-trick">
                        <img src="assets/img/portfolio/snow5.jpg" class="img-fluid" alt="">
                        <a href="#" class="btn btn-outline-info btn-sm">Learn More
                        </a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap card-trick">
                        <img src="assets/img/portfolio/snow9.jpg" class="img-fluid" alt="">
                        <a href="#" class="btn btn-outline-info btn-sm">Learn More
                        </a>
                    </div>
                </div>
            </div> #}
        </div>

        <div class="text-center">
            <a href="#" id="loadMoreTrick">
                <i class="bi bi-plus-circle"></i>
            </a>
        </div>
    </section><!-- End Portfolio Section -->

    {% endblock content %}