{% extends 'base.html.twig' %}
{% block content %}
<section>
    <div>
        <h3 class="text-center pb-5">S'enregistrer</h3>
    </div>
    {{ form_start(form) }}
    <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>
    <div class="py-3 text-center">{{ form_label(form.name)}}</div>
    {{ form_widget(form.name) }}
    <div class="py-3 text-center">{{ form_label(form.email)}}</div>
    {{ form_widget(form.email) }}
    <div class="py-3 text-center">{{ form_label(form.password)}}</div>
    {{ form_widget(form.password) }}
    <div class="py-3 text-center"><input class="btn btn-primary" type="submit" value="Créer"></div>

    {{ form_end(form) }}
</section>
{% endblock %}